@page "/restsharp"
@using global::RestSharp 
@inject RestClient _restClient

<PageTitle>RestSharp</PageTitle>

<h1>Test RestSharp!</h1>

Test RestSharp


@code {

    protected override async void OnInitialized()
    {
        try
        { 
            var request = new RestRequest("https://apibihml.value4u.com.br/obter-acesso", Method.Get);
            request.AddHeader("Host", "apibihml.value4u.com.br");
            
            RestResponse response = await _restClient.ExecuteAsync(request);

            if (response.IsSuccessStatusCode)
            {
                Console.WriteLine(response.Content);
            }
            else
            {
                Console.WriteLine("Error");
            }

        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }

}