@page "/restsharp"
@using global::RestSharp

<PageTitle>RestSharp</PageTitle>

<h1>Test RestSharp!</h1>

Test RestSharp


@code {

    protected override async void OnInitialized()
    {
        try
        {
            var options = new RestClientOptions("https://apibihml.value4u.com.br");
            var client = new RestClient(options);
            var request = new RestRequest("https://apibihml.value4u.com.br/obter-acesso/", Method.Get);
            // request.AddHeader("Host", "apibihml.value4u.com.br");
            // request.AddHeader("Content-Type", "application/json; charset=utf-8");
            // request.AddHeader("AcceptCharset", "utf-8");
            RestResponse response = await client.ExecuteAsync(request);

            if (response.IsSuccessStatusCode)
            {
                Console.WriteLine(response.Content);
            }
            else
            {
                Console.WriteLine("Error");
            }

        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }

}